/* .container {
    background-color: rgb(0, 255, 128);
    height: 900px;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 70% 10% 10%;
    grid-template-areas:'searchbar searchbar'
                        'paginado paginado'
                        'paginado aside'
                        'footer footer'; 
}
SearchBar {
  grid-area: searchbar;
}
Paginado {
  grid-area: paginado;
}
CardsContainer {
  grid-area: cardscontainer;
}
Aside {
  grid-area: aside;
}
Footer {
  grid-area: footer;
} */
